.header {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
	background-color: #4B6AAB;
	height: 200px;
	padding-top: 50px;
	border-radius: 5px;
}

h1 {
	font-size: 50px;
}

.train-schedule {
	border-style: solid;
	border-radius: 5px;
	margin-bottom: 50px;

}

.current-train-schedule {
	background-color: #4B6AAB;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.train-schedule-titles {

	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	text-align: center;
}

.add-train {
	background-color: #4B6AAB;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;

}

.value {
	display: inline-block;
	float: left;
}

form {
	border-style: solid;
	border-radius: 5px;
}

.form-group {
	padding: 5px;
}

#submit {
	margin: 5px;

}